* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    position: relative;
}

.arrow {
    font-size: 40px;
    cursor: pointer;
}

.images {
    padding: 30px;
}

.images img {
    width: 100%;
}

.circles-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.circle {
    color: white;
}

.circle.active {
    color: blue;
}